FSize = 10vh
colorSASS = #333333

body
  display flex
  align-items center
  justify-content center
  flex-direction column
  background #0776A9
  color #FFFFFF
  height 100vh
  margin 0
  font-size FSize 
  font-family 'Arial'

.title
  font-size (FSize/2)


.stylus-style
  font-style italic
  color colorSASS
  font-size (FSize/2)
