body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #303030;
  color: #FFFFFF;
  height: 100vh;
  margin : 0;
  font-size: 40px; 
  font-family: 'Arial'
}

.title{
  font-size: 1em
}
.colors{
  font-size: .8em; 
  list-style: none;
}