body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
  height: 100vh;
  margin : 0;
  font-size: 40px;
  background-image: url(../images/pokemon-img-sample.jpg);
  background-size: cover;
}
.pica-class{
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 10px;
}